@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

#colorPickerContainer {
  background-color: #ffffff;
  height: 100vh;
  align-items: center;
}

.description {
  color: #222222;
  font-family: "open sans";
  font-size: 14px;
  font-weight: bold;
}

.para {
  color: #ffffff;
  background-color: #222222;
  border-radius: 5px;
  font-family: "open sans";
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

#button4 {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #bb6bd9;
  border-radius: 10px;
  border-width: 2px;
  border-color: #222222;
  font-size: 15px;
  color: #222222;
}

#button3 {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #56ccf2;
  border-radius: 10px;
  border-width: 2px;
  border-color: #222222;
  font-size: 15px;
  color: #222222;
}

#button2 {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #6fcf97;
  border-radius: 10px;
  border-width: 2px;
  border-color: #222222;
  font-size: 15px;
  color: #222222;
}

#button1 {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #e0e0e0;
  border-radius: 10px;
  border-width: 2px;
  border-color: #222222;
  font-size: 15px;
  color: #222222;
}

.heading {
  color: #222222;
  font-family: "open sans";
  font-weight: 900;
  padding-bottom: 20px;
}
